In [25]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as pyplot

In [26]:
df = pd.read_csv('movie_ratings_df.csv', encoding = 'ISO-8859-1')

In [27]:
df.head()

   userId         title  rating
0     196  Kolya (1996)       3
1      63  Kolya (1996)       3
2     226  Kolya (1996)       5
3     154  Kolya (1996)       3
4     306  Kolya (1996)       5

In [29]:
# check the shape of the data frame

In [36]:
df[df.userId == 196]

       userId                                              title  rating
0         196                                       Kolya (1996)       3
1518      196                                Men in Black (1997)       2
13157     196                Truth About Cats & Dogs, The (1996)       4
13622     196                               Birdcage, The (1996)       4
14668     196  Adventures of Priscilla, Queen of the Desert, ...       4
28289     196                               Groundhog Day (1993)       3
34307     196                        Fish Called Wanda, A (1988)       5
42467     196                        English Patient, The (1996)       5
42983     196                     While You Were Sleeping (1995)       3
44286     196                          That Thing You Do! (1996)       4
46713     196                         Princess Bride, The (1987)       2
47415     196                             Raising Arizona (1987)       4
52120     196                                  Home Alone (1990)       3
52573     196                             Beautiful Girls (1996)       3
53901     196                            Muriel's Wedding (1994)       4
54081     196        Mrs. Brown (Her Majesty, Mrs. Brown) (1997)       4
54716     196                                        Babe (1995)       5
57954     196                 Four Weddings and a Funeral (1994)       3
58541     196                                 Stand by Me (1986)       5
58878     196                            Mighty Aphrodite (1995)       2
59607     196                     American President, The (1995)       5
61655     196                Fast, Cheap & Out of Control (1997)       4
63578     196                               Marvin's Room (1996)       3
64087     196                             Full Monty, The (1997)       3
66308     196                              Secrets & Lies (1996)       5
66952     196                        Operation Dumbo Drop (1995)       1
66958     196                             Shall We Dance? (1996)       3
67442     196                              Mrs. Doubtfire (1993)       4
69345     196                                 Being There (1979)       5
75120     196  Englishman Who Went Up a Hill, But Came Down a...       2
76044     196                            Harold and Maude (1971)       4
76827     196                        Nutty Professor, The (1996)       4
77389     196                           Cold Comfort Farm (1995)       3
77998     196                         Waiting for Guffman (1996)       4
82487     196                               Boogie Nights (1997)       3
86068     196                  Ace Ventura: Pet Detective (1994)       5
90876     196                                 Up in Smoke (1978)       4
92604     196               Kids in the Hall: Brain Candy (1996)       4
94003     196                                    Van, The (1996)       3

In [47]:
df.head()

   userId         title  rating
0     196  Kolya (1996)       3
1      63  Kolya (1996)       3
2     226  Kolya (1996)       5
3     154  Kolya (1996)       3
4     306  Kolya (1996)       5

In [50]:
df.set_index('userId', inplace=True)

In [54]:
df.groupby(['title']).count()

                                                    rating
title
'Til There Was You (1997)                                9
1-900 (1994)                                             5
101 Dalmatians (1996)                                  109
12 Angry Men (1957)                                    125
187 (1997)                                              41
2 Days in the Valley (1996)                             93
20,000 Leagues Under the Sea (1954)                     72
2001: A Space Odyssey (1968)                           259
3 Ninjas: High Noon At Mega Mountain (1998)              5
39 Steps, The (1935)                                    59
8 1/2 (1963)                                            38
8 Heads in a Duffel Bag (1997)                           4
8 Seconds (1994)                                         4
A Chef in Love (1996)                                    8
Above the Rim (1994)                                     5
Absolute Power (1997)                                  127
Abyss, The (1989)                                      151
Ace Ventura: Pet Detective (1994)                      103
Ace Ventura: When Nature Calls (1995)                   37
Across the Sea of Time (1995)                            4
Addams Family Values (1993)                             87
Addicted to Love (1997)                                 54
Addiction, The (1995)                                   11
Adventures of Pinocchio, The (1996)                     39
Adventures of Priscilla, Queen of the Desert, T...     111
Adventures of Robin Hood, The (1938)                    67
Affair to Remember, An (1957)                           26
African Queen, The (1951)                              152
Afterglow (1997)                                        18
Age of Innocence, The (1993)                            65
...                                                    ...
Window to Paris (1994)                                   1
Wings of Courage (1995)                                  1
Wings of Desire (1987)                                  57
Wings of the Dove, The (1997)                           75
Winnie the Pooh and the Blustery Day (1968)             75
Winter Guest, The (1997)                                 9
Wishmaster (1997)                                       27
With Honors (1994)                                      46
Withnail and I (1987)                                   13
Witness (1985)                                           1
Wizard of Oz, The (1939)                               246
Wolf (1994)                                             67
Woman in Question, The (1950)                            1
Women, The (1939)                                       15
Wonderful, Horrible Life of Leni Riefenstahl, T...      10
Wonderland (1997)                                       10
Wooden Man's Bride, The (Wu Kui) (1994)                  3
World of Apu, The (Apur Sansar) (1959)                   6
Wrong Trousers, The (1993)                             118
Wyatt Earp (1994)                                       50
Yankee Zulu (1994)                                       1
Year of the Horse (1997)                                 7
You So Crazy (1994)                                      1
Young Frankenstein (1974)                              200
Young Guns (1988)                                      101
Young Guns II (1990)                                    44
Young Poisoner's Handbook, The (1995)                   41
Zeus and Roxanne (1997)                                  6
unknown                                                  9
ç kldum klaka (Cold Fever) (1994)                       1

[1664 rows x 1 columns]